$name: 'black';
$name_2: active_;
$name_3: origin_;
$name_4: dgc_;

$bg-01: #fff;

$bgColor-01: #F5F5F5;
$bgColor-02: #FFFFFF;
$bgColor-03: $bgColor-01;
$bgColor-04: #E9E9E9;
$bgColor-05: $bgColor-02;
$bgColor-06: #FAFAFA;
$bgColor-07: #1B88FF;
$bgColor-08: #343434;
$bgColor-09: #0C5CF7;
$bgColor-10: #9BCBFF;

$linearBgColor-01: linear-gradient(-45deg, #238aff 50%, #0880fb 50%, #069efe);
$linearBgColor-02: linear-gradient(to right, #05A7FF, #0C5CF7);

$color-01: #000000;
$color-02: #2B2B2A;
$color-03: #1B88FF;
$color-04: $color-02;
$color-05: #8C8C8C;
$color-06: #696969;
$color-07: $color-03;
$color-08: #FFFFFF;
$color-09: #474747;
$color-10: #2A2C38;
$color-11: #646464;
$color-12: #565656;
$color-13: #1B1B1B;
$color-14: #5B5B5B;
$color-15: #303030;
$color-16: $bgColor-07;
$color-17: #DBDBDB;
$color-18: #828282;
$color-19: #767676;
$color-20: #878787;
$color-21: #AED4FF;
$color-22: #bbbbbb;
$color-23: #0040A2;
$color-24: #3f9afd;
$color-25: #f2f2f2;
$color-26: #222222;
$color-27: #9A9A9A;
$color-28: #4A4A4A;
$color-29: #E9E9E9;

$margin-01: 0px;

$padding-01: 0px;

$height-01: 50px;
$height-02: 58px;
$height-03: 150px;

$boxShadow-01: 0px -3px 4px 0 rgba(0, 0, 0, 0.05);

//字体
$font-family: Helvetica,
Helvetica Neue,
Tahoma,
Arial,
PingFang SC,
Microsoft YaHei,
San Francisco,
Roboto,
Hiragino Sans GB,
Heiti SC,
sans-serif;
