.sort-wrapper {
  height: 40px;
  line-height: 40px;
  .sort-item {
    font-size: 14px;
    font-weight: 500;
    color: rgba(102, 102, 102, 1);
  }
}
.caret-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  height: 34px;
  width: 24px;
  vertical-align: middle;
  cursor: pointer;
  overflow: initial;
  position: relative;
}

.sort-caret {
  width: 0;
  height: 0;
  border: 5px solid transparent;
  position: absolute;
  left: 7px;
  &.ascending {
    border-bottom-color: #c0c4cc;
    top: 5px;
    .ascending & {
      border-bottom-color: #409eff;
    }
  }
  &.descending {
    border-top-color: #c0c4cc;
    bottom: 7px;
    .descending & {
      border-top-color: #409eff;
    }
  }
}
