$name: 'black';
$name_2: yellow_;
$name_3: origin_;
$name_4: beePal_;

$bg-01: #fff;

$bgColor-01: #F5F5F5;
$bgColor-02: #ffffff;
$bgColor-03: $bgColor-01;
$bgColor-04: #E9E9E9;
$bgColor-05: $bgColor-02;
$bgColor-06: #FAFAFA;
$bgColor-07: #FFC100;
$bgColor-08: #343434;
$bgColor-09: #0C5CF7;
$bgColor-10: #FFE183;
$bgColor-11: $bgColor-07;
$bgColor-12: #ececec;
$bgColor-13: #f7f7f7;
$bgColor-14: #FFF9F9;
$bgColor-15: #30955B;
$bgColor-16: #C32525;
$bgColor-17: #166AFA;

$linearBgColor-01: linear-gradient(-45deg, #fe9d00, #ffa304 55%, #FFD639);
$linearBgColor-02: linear-gradient(to right, #FFD92A, #FFBC00);
$linearBgColor-03: linear-gradient(-35deg, #10C43F, #28DF7F);
$linearBgColor-04: linear-gradient(-35deg, #1567FB, #2093F1);
$linearBgColor-05: linear-gradient(to right, #E5E5E5, #D6D6D6);
$linearBgColor-06: linear-gradient(to right, #CACACA, #EEEEEE);

$color-01: #000000;
$color-02: #2B2B2A;
$color-03: #FFC100;
$color-04: $color-02;
$color-05: #8C8C8C;
$color-06: #696969;
$color-07: $color-03;
$color-08: #FFFFFF;
$color-09: #474747;
$color-10: #2a2c38;
$color-11: #646464;
$color-12: #565656;
$color-13: #1B1B1B;
$color-14: #5B5B5B;
$color-15: #303030;
$color-16: $bgColor-07;
$color-17: #DBDBDB;
$color-18: #828282;
$color-19: #767676;
$color-20: #878787;
$color-21: #C76300;
$color-22: #bbbbbb;
$color-23: #C76300;
$color-24: #3f9afd;
$color-25: #f2f2f2;
$color-26: #222222;
$color-27: #9A9A9A;
$color-28: #4A4A4A;
$color-29: #E9E9E9;
$color-30: #ffac26;
$color-31: #efefef;
$color-32: #969799;
$color-33: #b8b8b9;
$color-34: #4B74FF;
$color-35: #20A763;
$color-36: #f35b5b;
$color-37: #E2E2E2;
$color-38: #A6A8B3;
$color-39: #ED0000;
$color-40: #877441;
$color-41: #929292;
$color-42: #7E7E7E;
$color-43: #2c2c2c;
$color-44: #64666E;
$color-45: #8B8B8B;

$margin-01: 0px;

$padding-01: 0px;

$height-01: 50px;
$height-02: 58px;
$height-03: 150px;

$boxShadow-01: 0px -3px 4px 0 rgba(0, 0, 0, 0.05);

//字体
$font-family: Helvetica, Helvetica Neue, Tahoma, Arial, PingFang SC,
Microsoft YaHei, San Francisco, Roboto, Hiragino Sans GB, Heiti SC, sans-serif;
